body {
  margin: 0;
  font-family: var(--font-family-comfortaa-medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("./fonts/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("./fonts/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: url("./fonts/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("./fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url("./fonts/Comfortaa-SemiBold.ttf");
}

:root {
  --font-family-comfortaa-light: "Comfortaa-Light";
  --font-family-comfortaa-bold: "Comfortaa-Bold";
  --font-family-comfortaa-medium: "Comfortaa-Medium";
  --font-family-comfortaa-regular: "Comfortaa-Regular";
  --font-family-comfortaa-semibold: "Comfortaa-SemiBold";

  --profile-sidebar-link-color: #123776;
  --profile-sidebar-button-color: #761221;
  --profile-sidebar-button-hover-color: #9d1723;

  --bg-color: #f3f3f3;
}

.btn {
  background-color: #852d18 !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;

  &:hover, &:active, &:focus {
    background-color: #943c25 !important;
    border-color: transparent;
    color: white;
  }
}

.form-check-input {

  &:focus {
    box-shadow: none !important;
  }

  &:checked {
    background-color: #852d18;
    border-color: transparent;
  }
}

.form-control, .form-select {
  box-shadow: none !important;
  border-color: #e4c099 !important;
}

.input-group-text {
  background-color: #f4c28c;
  border-color: #e4c099;
}

.card {
  transition: opacity .5s;
  border-color: #f6c38d;
  background-color: antiquewhite;

  & .card-header {
    background-color: #fad2a8;
    border-color: coral;
  }
}

.form-card {
  max-width: 60rem;
  width: 100%;

  & p {
    margin: 0;
  }
}

.btn-close {
  padding: .75rem 1rem !important;
}

.alert {
  padding: .5rem 1rem;
}