.notes {

  & .search {
    &-form {
      width: auto;

      & .input-group-text {
        background-color: #bd5339;
        border: none;
      }
    }

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}